.dflex{
    display: flex;
}

.box{
    font-size: 14px;
    display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.grid{
    display: grid;
    grid-template-columns: 480px fit-content(150px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: stretch;
}

.item1{
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
}
.item2{
    padding-left: 40px;
}

.item3{
    grid-column: 1 / span 2;
    justify-self: left;
    width: 80%;
}

.absolute{
    position: relative;
    width: 470px;
    margin-left: auto;
    margin-right: auto;
}

.image{
    display: inline-block;
    border-radius: 5%;
}

.heart{
    position: absolute;
    display: inline-block;
    top: -20px;
    right: -15px;
}

.heart > *{
    transition-duration: 1s;
    transition-timing-function: steps(28);
    transition-delay: 0s;
    transition-property: background-position;
}

@media (max-width: 700px){
    .box{
        margin: 0;
    }
    
    .grid{
        grid-template-columns: 500px;
    }

    .item1{
        padding-left: 0px !important;
    }

    .item2{
        margin: auto;
        grid-column: 1;
        justify-self: center;
    }
    
    .item3{
        width: 90%;
        margin-left: auto;
    }

    .image{
        padding-left: 0px !important;
    }
}